.back {
    background-color: rgb(43, 39, 39);
    color: white;
}

.bg .brand {
    font-family: "Lakki Reddy", serif;
    text-decoration: none;
    color: rgb(241, 205, 26);
    font-size: 36px;
}

.link li {
    color: rgb(241, 205, 26);
    font-size: 16px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form p {
    font-size: 32px;
    font-weight: 500;
}

form {
    display: flex;
    flex-direction: column;
    width: 25%;
}

form input,
select,
textarea {
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    outline: none;
}

form button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: black;
    color: yellow;
    font-weight: 400;
    font-size: 18px;
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btns button {
    width: 20%;
    border: none;
    border-radius: 5px;
    background-color: rgb(19, 19, 165);
    color: white;
    margin-bottom: 10px;
    padding: 10px;
}

.job-listings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 40px;
    align-items: center;
}

.job-card{
    border: 1px solid rgb(105, 100, 100);
    border-radius: 5px;
    width: 20%;
    padding: 10px ;
    margin: 20px;
}
.job-card p{
    margin-bottom: 5px;
}
.job-card button{
    border: none;
    border-radius: 5px;
    background-color: rgb(19, 19, 165);
    color: white;
    padding: 10px;
    
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search input{
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 5px 10px;
    width: 30%;
    margin-right: 20px;
}

.search button{
    border: none;
    border-radius: 5px;
    background-color: rgb(19, 19, 165);
    padding: 5px 10px;
    color: white;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 45%; /* Adjust the width as needed */
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}

.checkbox-group p {
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}
